{% extends "market_base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='node_modules/hammerjs/hammer.js')}}"></script>
<!--<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>-->

<div class="tinder">
    <div class="tinder--status">
        <i class="fa fa-remove"></i>
        <i class="fa fa-heart"></i>
    </div>
    <div class="tinder--cards">
        {% for part in parts %}
        <div class="tinder--card">
            <img src="{{ part.external_url }}" alt="idk">
            <input type="hidden" name="part_id" value="{{ part.id }}">
            <h3>{{ part.name }}</h3>
            <p>{{ part.price }}</p>
        </div>
        {% endfor %}
    </div>
    <form method="POST" action="/market">
        <div class="tinder--buttons">
            <button id="nope" name="nope_button" value="nope"><i class="fa fa-remove"></i></button>
            <button id="love" name="love_button" value="love"><i class="fa fa-heart"></i></button>
        </div>
    </form>
</div>
<script>
    'use strict';
    var tinderContainer = document.querySelector('.tinder');
    var allCards = document.querySelectorAll('.tinder--card');
    var nope = document.getElementById('nope');
    var love = document.getElementById('love');

    function initCards(card, index) {
        var newCards = document.querySelectorAll('.tinder--card:not(.removed)');
        newCards.forEach(function (card, index) {
            card.style.zIndex = allCards.length - index;
            card.style.transform = 'scale(' + (20 - index) / 20 + ') translateY(-' + 30 * index + 'px)';
            card.style.opacity = (10 - index) / 10;
        });
        tinderContainer.classList.add('loaded');
    }

    initCards();
    allCards.forEach(function (el) {
        var hammertime = new Hammer(el);
        hammertime.on('pan', function (event) {
            el.classList.add('moving');
        });
        hammertime.on('pan', function (event) {
            if (event.deltaX === 0) return;
            if (event.center.x === 0 && event.center.y === 0) return;
            tinderContainer.classList.toggle('tinder_love', event.deltaX > 0);
            tinderContainer.classList.toggle('tinder_nope', event.deltaX < 0);
            var xMulti = event.deltaX * 0.03;
            var yMulti = event.deltaY / 80;
            var rotate = xMulti * yMulti;
            event.target.style.transform = 'translate(' + event.deltaX + 'px, ' + event.deltaY + 'px) rotate(' + rotate + 'deg)';
        });
        hammertime.on('panend', function (event) {
            el.classList.remove('moving');
            tinderContainer.classList.remove('tinder_love');
            tinderContainer.classList.remove('tinder_nope');
            var moveOutWidth = document.body.clientWidth;
            var keep = Math.abs(event.deltaX) < 80 || Math.abs(event.velocityX) < 0.5;
            if (!event.target.classList.contains('removed') && keep) {
                event.target.style.transform = '';
            } else {
                event.target.classList.toggle('removed', !keep);
                var endX = Math.max(Math.abs(event.velocityX) * moveOutWidth, moveOutWidth);
                var toX = event.deltaX > 0 ? endX : -endX;
                var endY = Math.abs(event.velocityY) * moveOutWidth;
                var toY = event.deltaY > 0 ? endY : -endY;
                var xMulti = event.deltaX * 0.03;
                var yMulti = event.deltaY / 80;
                var rotate = xMulti * yMulti;
                event.target.style.transform = 'translate(' + toX + 'px, ' + (toY + event.deltaY) + 'px) rotate(' + rotate + 'deg)';
                initCards();
            }
        });
    });

    function createButtonListener(love) {
        return function (event) {
            var card = document.querySelector('.tinder--card:not(.removed)');
            var moveOutWidth = document.body.clientWidth * 1.5;
            if (!card) return;
            card.classList.add('removed');
            if (love) {
                card.style.transform = 'translate(' + moveOutWidth + 'px, -100px) rotate(-30deg)';
            } else {
                card.style.transform = 'translate(-' + moveOutWidth + 'px, -100px) rotate(30deg)';
            }
            initCards();
            event.preventDefault();
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/market');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                if (xhr.status === 200 && xhr.responseText) {
                    console.log(xhr.responseText);
                }
            };
            xhr.send(encodeURI(love ? 'liked=' + card.querySelector('input').value : 'disliked=' + card.querySelector('input').value));
        };
    }
    var nopeListener = createButtonListener(false);
    var loveListener = createButtonListener(true);

    nope.addEventListener('click', nopeListener);
    love.addEventListener('click', loveListener);
</script>
{% endblock %}